/*estilo geral*/

body{
    font-family: 'Roboto', 'sans-serif';
}

.row{
    margin: 0;
}

.container{
    padding: 700px 0;
}
p, li {
  color :#000000;
  font-size: 14px;
}

/*barra de navegação*/

header, .navbar{
    background-color: #BA13C2;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;

}

#logo{
width: 300px;

}

.navbar-brend{
    padding: 0;
    color: #FFFF;

}
.navbar-brand:hover{
    color:#FFFF;
}

#navbar-link a {
    color:#FFFF;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
